html {
    height: 100%;
}

body {
    background-color: #312e2b;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
}

.menu {
    display: none;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.gameScreen {
    display: none;
}

.gameOverScreen {
    display: none;
    display: block;
    margin: 0 auto;
    border: 1px solid black;
    /* width: 50%; */
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading,
.sub-heading {
    text-align: center;
    padding: 5px;
    font-size: 20px;
    color: #4d4d4d;
}

#play_game {
    background-color: #7fa650;
    color: white;
}

.dialog-header {
    background-color: #666463;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 0.8rem 0;
}


/* gameover screen */


/* gameover screen end */


/* remove this */

#fen-in-div {
    position: relative;
    left: 60px;
}

#fen-in {
    width: 480px;
    left: 60px;
}